In [2]:
import pandas as pd

In [4]:
flow_card = pd.read_excel('PD 2024 Wk 4 input.xlsx', sheet_name='Flow Card')
non_flow1 = pd.read_excel('PD 2024 Wk 4 input.xlsx', sheet_name= 'Non_flow Card')
non_flow2 = pd.read_excel('PD 2024 Wk 4 input.xlsx', sheet_name = 'Non_flow Card2')
seat = pd.read_excel('PD 2024 Wk 4 input.xlsx', sheet_name = 'Seat Plan')

In [5]:
non_flow_card = pd.concat([non_flow1, non_flow2])

In [8]:
customers = pd.concat([flow_card,non_flow_card])

In [12]:
customers['Flow Card?'] = customers['CustomerID'].isin(flow_card['CustomerID']).map({True: 'Yes', False: 'No'})

In [26]:
customers['Row'].max()

42

In [22]:

seat_booking_count = customers.groupby(['Seat', 'Row', 'Class', 'Flow Card?']).count()

In [27]:
seat.head()

  Class  Seat  Row
0    FC     1    1
1    FC     2    1
2    FC     3    1
3    FC     4    1
4    FC     1    2

In [35]:
result = pd.merge(seat, seat_booking_count, how= 'left', on= ['Class', 'Seat', 'Row'], indicator=True)
left_only_result = result[result['_merge'] == 'left_only']

In [36]:
print(left_only_result)

    Class  Seat  Row  CustomerID     _merge
300     E     5   28         NaN  left_only
381     E     6   32         NaN  left_only
458     E     5   36         NaN  left_only
479     E     6   37         NaN  left_only
536     E     5   40         NaN  left_only
537     E     6   40         NaN  left_only
554     E     5   41         NaN  left_only

In [37]:
left_only_result.head()

    Class  Seat  Row  CustomerID     _merge
300     E     5   28         NaN  left_only
381     E     6   32         NaN  left_only
458     E     5   36         NaN  left_only
479     E     6   37         NaN  left_only
536     E     5   40         NaN  left_only

In [40]:
output = left_only_result[['Class', 'Seat', 'Row']]

In [43]:
output.to_excel('Week4_Ouput.xlsx', index=False)