In [81]:
import pandas as pd

Input the two csv files

In [82]:
flowCardHolders = pd.read_csv("Flow Card Holders.csv")
nonFlowCardHolders = pd.read_csv("Non-Flow Card Holders.csv")

Union the files together

In [83]:
df = pd.concat([flowCardHolders, nonFlowCardHolders], ignore_index=True)

Convert the Date field to a Quarter Number instead

In [ ]:
df['Date']=pd.to_datetime(df['Date'])
df['Quarter'] = df['Date'].dt.quarter
df.head()

Aggregate the data in the following ways:

1. Median price per Quarter, Flow Card? and Class
2. Minimum price per Quarter, Flow Card? and Class
3. Maximum price per Quarter, Flow Card? and Class

In [104]:
median_df = df.groupby(['Quarter','Class', 'Flow Card?'])['Price'].median().reset_index()
minimum_df = df.groupby(['Quarter','Class', 'Flow Card?'])['Price'].min().reset_index()
maximum_df = df.groupby(['Quarter','Class', 'Flow Card?'])['Price'].max().reset_index()

In [105]:
minimum_df.head(50)

    Quarter            Class Flow Card?   Price
0         1   Business Class         No   241.2
1         1   Business Class        Yes   249.6
2         1          Economy         No  1030.0
3         1          Economy        Yes  1020.0
4         1      First Class         No   204.0
5         1      First Class        Yes   201.0
6         1  Premium Economy         No   515.0
7         1  Premium Economy        Yes   502.5
8         2   Business Class         No   240.0
9         2   Business Class        Yes   240.0
10        2          Economy         No  1000.0
11        2          Economy        Yes  1020.0
12        2      First Class         No   202.0
13        2      First Class        Yes   200.0
14        2  Premium Economy         No   507.5
15        2  Premium Economy        Yes   500.0
16        3   Business Class         No   240.0
17        3   Business Class        Yes   241.2
18        3          Economy         No  1000.0
19        3          Economy        Yes  1005.0
20        3      First Class         No   201.0
21        3      First Class        Yes   206.0
22        3  Premium Economy         No   517.5
23        3  Premium Economy        Yes   502.5
24        4   Business Class         No   240.0
25        4   Business Class        Yes   249.6
26        4          Economy         No  1015.0
27        4          Economy        Yes  1030.0
28        4      First Class         No   200.0
29        4      First Class        Yes   205.0
30        4  Premium Economy         No   510.0
31        4  Premium Economy        Yes   505.0

Now pivot the data to have a column per class for each quarter and whether the passenger had a flow card or not

In [108]:
pivot_min = minimum_df.pivot_table(index = ['Flow Card?','Quarter'],
                                columns= 'Class',
                                values = 'Price',
                                aggfunc= 'min',
                                fill_value=0).reset_index()

pivot_max = maximum_df.pivot_table(index = ['Flow Card?','Quarter'],
                                columns= 'Class',
                                values = 'Price',
                                aggfunc='max',
                                fill_value=0).reset_index()

pivot_median = median_df.pivot_table(index = ['Flow Card?','Quarter'],
                                columns= 'Class',
                                values = 'Price',
                                aggfunc='median',
                                fill_value=0).reset_index()

Class,Flow Card?,Quarter,Business Class,Economy,First Class,Premium Economy
0,No,1,241.2,1030.0,204.0,515.0
1,No,2,240.0,1000.0,202.0,507.5
2,No,3,240.0,1000.0,201.0,517.5
3,No,4,240.0,1015.0,200.0,510.0
4,Yes,1,249.6,1020.0,201.0,502.5
5,Yes,2,240.0,1020.0,200.0,500.0
6,Yes,3,241.2,1005.0,206.0,502.5
7,Yes,4,249.6,1030.0,205.0,505.0

Union these flows back together

In [110]:
pivot_max['Aggregation'] = 'max'
pivot_median['Aggregation'] = 'median'
pivot_min['Aggregation'] = 'min'


out = pd.concat([pivot_min, pivot_median, pivot_max], ignore_index=True)

In [111]:
out.head(30)

Class,Flow Card?,Quarter,Business Class,Economy,First Class,Premium Economy,Aggregation
0,No,1,241.2,1030.0,204.0,515.00,min
1,No,2,240.0,1000.0,202.0,507.50,min
2,No,3,240.0,1000.0,201.0,517.50,min
3,No,4,240.0,1015.0,200.0,510.00,min
4,Yes,1,249.6,1020.0,201.0,502.50,min
5,Yes,2,240.0,1020.0,200.0,500.00,min
6,Yes,3,241.2,1005.0,206.0,502.50,min
7,Yes,4,249.6,1030.0,205.0,505.00,min
8,No,1,574.8,2340.0,438.0,1075.00,median
9,No,2,553.8,2325.0,445.0,1205.00,median
10,No,3,490.8,2285.0,487.0,1125.00,median
11,No,4,555.6,2202.5,428.0,1062.50,median
12,Yes,1,523.2,2325.0,447.5,1160.00,median
13,Yes,2,517.8,2290.0,459.0,1071.25,median
14,Yes,3,553.8,2347.5,457.0,1090.00,median
15,Yes,4,522.6,2212.5,424.0,1108.75,median
16,No,1,834.0,3455.0,699.0,1702.50,max
17,No,2,828.0,3480.0,694.0,1745.00,max
18,No,3,838.8,3475.0,691.0,1747.50,max
19,No,4,835.2,3465.0,698.0,1730.00,max
20,Yes,1,840.0,3500.0,698.0,1737.50,max
21,Yes,2,840.0,3490.0,696.0,1737.50,max
22,Yes,3,840.0,3495.0,697.0,1750.00,max
23,Yes,4,834.0,3460.0,697.0,1722.50,max

In [113]:
out.rename(columns={'Economy' : 'First', 'First Class' : 'Economy', 'Business Class' : 'Premium', 'Premium Economy':'Business'}, inplace=True)

In [114]:
out.head(30)

Class Flow Card?  Quarter  Premium   First  Economy  Business Aggregation
0             No        1    241.2  1030.0    204.0    515.00         min
1             No        2    240.0  1000.0    202.0    507.50         min
2             No        3    240.0  1000.0    201.0    517.50         min
3             No        4    240.0  1015.0    200.0    510.00         min
4            Yes        1    249.6  1020.0    201.0    502.50         min
5            Yes        2    240.0  1020.0    200.0    500.00         min
6            Yes        3    241.2  1005.0    206.0    502.50         min
7            Yes        4    249.6  1030.0    205.0    505.00         min
8             No        1    574.8  2340.0    438.0   1075.00      median
9             No        2    553.8  2325.0    445.0   1205.00      median
10            No        3    490.8  2285.0    487.0   1125.00      median
11            No        4    555.6  2202.5    428.0   1062.50      median
12           Yes        1    523.2  2325.0    447.5   1160.00      median
13           Yes        2    517.8  2290.0    459.0   1071.25      median
14           Yes        3    553.8  2347.5    457.0   1090.00      median
15           Yes        4    522.6  2212.5    424.0   1108.75      median
16            No        1    834.0  3455.0    699.0   1702.50         max
17            No        2    828.0  3480.0    694.0   1745.00         max
18            No        3    838.8  3475.0    691.0   1747.50         max
19            No        4    835.2  3465.0    698.0   1730.00         max
20           Yes        1    840.0  3500.0    698.0   1737.50         max
21           Yes        2    840.0  3490.0    696.0   1737.50         max
22           Yes        3    840.0  3495.0    697.0   1750.00         max
23           Yes        4    834.0  3460.0    697.0   1722.50         max

In [115]:
out.to_csv("AggregatedFile.csv",index=False)